[submodule "integration-tests/circt"]
	path = integration-tests/circt
	url = https://github.com/llvm/circt.git
	branch = main
[submodule "integration-tests/polygeist"]
	path = integration-tests/polygeist
	url = https://github.com/llvm/Polygeist.git
[submodule "integration-tests/dynamatic"]
	path = integration-tests/dynamatic
	url = https://github.com/zhengyao-lin/dynamatic.git
	branch = wavelet
[submodule "integration-tests/prjtrellis"]
	path = integration-tests/prjtrellis
	url = https://github.com/YosysHQ/prjtrellis.git
[submodule "integration-tests/nextpnr"]
	path = integration-tests/nextpnr
	url = https://github.com/YosysHQ/nextpnr.git
